.city
{
	background-color: rgb(128, 128, 128)
}

#bibliographie
{
	font-size:x-small; 
	padding:0px;
}

.box 
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#selectDiv
{
	margin-bottom:20px;
	margin-top:0px;
}
#title
{
	background-color : black;
	margin-bottom : 0px;
}
#title>h1
{
	color: white;
}